* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  background: #24334e;
  height: 100vh;
  padding-bottom: 10px;
}

.App h1 {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}